/*--------------------formLogin--------------------------------------------------------*/

.navbar-inverse {
z-index: 1;
}
.topBlock {
    float: left;
    width: 100%;
}

.centerBlock {
    float: left;
    width: 100%;
}

/*--------------------formLogin--------------------------------------------------------*/
.formLogin {
    padding-top: 40px;
}

.divLogin {
    width: 280px;
    height: 240px;
    border: solid 1px;
    border-radius: 5px;
    border-color: #ccc;
    margin: auto;
    padding: 15px 18px 15px 15px;

}

.divLogin .help-block {
    font-size: 12px;
    margin-left: 5px;

}

.divLogin .form-group {
    height: 80px;
    margin: 0;

}

.divLogin button {
    width: 110px;
    float: right;
    margin-top: 10px;
}

.divLogin input {
    margin-bottom: 2px;
}

/*---------------direction-----topBlock--------------------------------------------------------*/
.topBlock .form-group .help-block {
    display: none;
}

.topBlock .fields-block {
    width: 100%;
    margin-bottom: 20px;
}

.topBlock .form-control {
    height: 23px;
    padding: 1px;
    padding-left: 2px;
}

.topBlock .btn-default {
    background-color: white;
}

.direction-search .fields-block .b3 {
    width: 20%;
}

.direction-search .fields-block .button-group {
    width: 15%;
}

.direction-search .fields-block > div {
    display: block;
    float: left;
    width: 25%;
    margin-right: 7px;
}

.direction-search .form-group {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
.direction-search #direction-medcard-fullname{
    width: 230px;
}
.direction-search #direction-testtubenumber, #direction-isdone{
    width: 100px;
}

.direction-search .form-group > label {
    padding-top: 4px;
    margin: 0;
    display: block;
    float: left;
}

.direction-search .form-group > input, .direction-search .form-group > select {
    display: block;
    float: right;
    width: 175px;
}

.direction-search .button-group button {
    display: block;
    height: 23px;
    padding: 0 5px;
    width: 80px;
    margin: 0 0 5px 4px;
}

/*-------------direction-------centerBlock--------------------------------------------------------*/
.centerBlock .table tbody tr:hover {
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
}

.direction-index .table tbody tr:active {
    cursor: pointer;
    background-color: #1b6d85;
    color: #fff;
}

.direction-index {
    font-family: Arial;
    font-size: 12px;

}

.centerBlock .table > thead > tr > th,
.centerBlock .table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
    padding: 4px;
    line-height: 1.3;
    font-size: 12px;
    white-space: pre-wrap;
}

.centerBlock .table .lrlistname {
    text-align: left !important;
    text-transform: lowercase;
}

.centerBlock a.desc:after, a.asc:after {
    display: inline;
}

/*-------------------------view------ui-dialog-------------------------------------------------------------*/
.ui-dialog-titlebar-close {
    display: none;
}

/*-----------------------view--------dialogResult-------------------------------------------------------------*/
.dialogResult {
    max-height: 250px !important;
    width: auto !important;

}
.dialogResult .ui-dialog-titlebar {
    padding: .2em .6em;
}
.dialogResult .ui-dialog-content {
    padding: .4em .4em;
}

.dialogResult table {
    border: 1px;
    border-color: lightgrey;
}

.dialogResult td {
    padding: 2px 3px;
    line-height: 1.3;
    font-size: 11px;
    vertical-align: middle;

}

/*------------------view----dialogMain--------------------------------------------------------------*/
.dialogMain .wrap {
    display: inline;
    padding: 0;
}
.dialogSelect a {
    cursor: pointer;
}
.mainTable {
    min-height: 350px !important;
}
.dialogSelect {

}
.mainTable .container {
    padding: 0;
    width: inherit;
    min-width: 600px;
    max-width: 800px;
}

.dialogMain table tr td {
    vertical-align: middle;
    padding: 0 5px;
}

.dialogMain table input, .dialogMain table select {
    padding: 0;
    margin: 0;
    height: 25px;
    border: hidden;
    border-radius: 0;
    background: transparent;
    white-space: pre-wrap;
    -webkit-box-shadow: none;
}

.dialogMain table {
    font-size: 13px;
    line-height: 1.3;
}

.dialogMain .ui-dialog-title {
    font-weight: normal;
    white-space: pre-wrap;
}

.dialogMain .form-group .help-block {
    display: none;
}

.dialogMain .form-group {
    margin: 0;
    padding: 0;
}

.dialogMain .form-group button {
    width: 80px;
    float: right;
}
.direction-view .btn-group {

}

.direction-view .loadbtn, .direction-view .linkbtn {
    float: right;
    margin: 5px 5px 10px 5px;
    min-width: 90px;
}
.direction-view .linkbtn {
    display: none;
}

.direction-view > form {
    clear: right;
}

.btn-primary {
    min-width: 77px;
}

.direction-view .table {
    margin-bottom: 10px;
}

.direction-view .grid-view {
    overflow-y: auto;
    max-height: 450px;
}

.direction-view .done {
    width: 17px;
    height: 17px;
    margin: 2px;
}

.direction-view label {
    float: right;
    color: #dc2462;

}

/*-----------------view-----loader--------------------------------------------------------------*/

.loader {
    position: absolute;
    z-index: 800;
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #aaaaaa;
    display: none;
}

